.hamburger{
    width: 38px;
    height: 38px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
}
.hamburger:focus{
    outline: none;
}
.hamburger .hamLine:nth-child(2){
    width: 50%;
}
.hamLine{
    width: 90%;
    height: 2px;
    background-color: #a0927b;
    
}