.playlistContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.albumContainer{
    display: flex;
}
.playlistHeading{
    color: #a0927b;
}
.albumContainer{
    overflow-x: scroll;
    
}
.albumContainer::-webkit-scrollbar{
    display: none;
}

.albumImage{
    width: 150px;
    height: 150px;
    margin: 20px;
}

@media (min-width: 700px) {
    .albumImage{
        width: 200px;
        height: 200px;
        margin: 20px;
    }
    .playlistHeading{
        font-size: 25px;
    }
}

@media (min-width: 1000px){
    .albumImage{
        width: 300px;
        height: 250px;
        margin: 20px;
    }
  }
  