.button{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
}
.beatPlayer{
    margin-top: 50px;
    box-shadow: 3px 7px 14px -2px #e6e6e65e
}
.djImg{
    width: 180px;
    position: absolute;
    left: -65px;
    z-index: 0;
}
.text{
    z-index: 1;
}
.computerImg {
    display: none;
}
.beatsDescriptionComp{
    display: none;
}
@media (min-width: 700px) {
    .beatsDescriptionComp {
        display: flex;
        background-size: cover;
        background-image: url("/images/compBG.png");
        width: 100%;
        height: 500px;
        padding: 0!important;
    }
    .metaContainer{
        padding: 0!important;
    }
    .beatsDescriptionContainer{

    }
    .beatsDescription{
        display: none;
    }
    .djImg {
        width: 350px;
        height: 400px;
        position: static;
    }
    .beatsImg{
        width: 100%;
        height: auto;
    }
    .phoneImg {
        display: none;
    }
    .computerImg {
        display: flex;
    }
    .text p{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .textContainer{
        background-color: rgba(160, 146, 123, 0.55);
    }
}
