.footer {
    background-color: #ffffff;
    padding: 0px 10px;
    padding-top: 40px;
    width: 100vw;
}
.imgLogo{
    height: 90px;
    background-color: #000000;
    width: 90px;
    object-fit: cover;
    padding-left: 5px;
    background-position: center;
}
.titleHolder{
    display: flex;
    align-items: center;
    width: 60%;
    padding-top: 10px;
}
.titleHolder > h4{
    color: #000000;
}
.footerChildOneContainer {
    display: flex;
    margin-bottom: 40px;
    height: auto;
    border-top: 1px #000000 solid;
    padding-top: 30px;
    margin-top: 50px;
}

.footerOne {
    width: 100%;
    flex: 0.35;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -35px;
}
.footerOne > p {
    font-size: 12px;
    margin-top: 20px;
}
.footerOne > h4 {
    color: #000000;
    margin-left: 10px;
}
.footerOne > h4 > span {
    color: #000000;
}
.footerOneMediaContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footerOneMediaContainer > a {
    color: #000000;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.footerTwo {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.footerTwo > h4 {
    color: #000000;
    margin-bottom: 20px;
}
.footerTwo > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
}
.footerTwo > a:hover {
    text-decoration: none;
    color: black;
}
.footerThree {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 92px; */
}
.footerThree > h4 {
    color: #000000;
    margin-bottom: 20px;
}
.footerThree > a {
    color: black;
    font-size: 14px;
    line-height: 30px;
}
.footerThree > a:hover {
    text-decoration: none;
    color: gray;
}

.footerFour {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 95px; */
}
.footerFour > h4 {
    color: #000000;
    margin-bottom: 20px;
}
.footerFour > a {
    color: black;
    font-size: 14px;
    line-height: 30px;
}
.footerFour > a:hover {
    text-decoration: none;
    color: gray;
}
.footerChildTwoContainer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #000000;
}
.footerTwoContainer {
    flex: 0.5;
    display: flex;
    justify-content: left;
    align-items: center;
   
}
.footerTwoContainer > p {
    color: #000000;
    font-size: 12px;
}
.footerTwoStats {
    flex: 0.5;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

}
.footerTwoStats > p {
    margin-right: 20px;
    align-items: center;
    font-weight: 600;
}
.footerTwoStats > p > span {
    color: #000000;
    font-weight: 400;
}


@media only screen and (max-width: 854px) {
    .footerOne > p {
        font-size: 12px;
        margin-top: 20px;
    }
    .footerOne > h4, .footerTwo > h4, .footerThree > h4, .footerFour > h4 {
      font-size: 20px;
    }
    .footerTwo > a, 
    .footerThree > a,
    .footerFour > a{
        font-size: 12px;
    }

    .footerChildTwoContainer{
        justify-content: space-between;
    }
    .footerTwoContainer{
        font-size: 12px;
    }

    .footerTwoStats > p {
        font-size: 12px;
    }

  }

  @media only screen and (max-width: 645px) {
    .footerChildOneContainer {
        height: auto;
    }
    .imgLogo{
        width: 50px;
        height: 50px;
    }
    .titleHolder > h4{
        font-size: 20px;
    }
    .footerChildOneContainer {
        flex-direction: column;
    }
    .footerOne {
        width: 100%;
        flex: 1;
        height: auto;
    }
    .footerTwo, .footerTwo, .footerThree, .footerFour {
        flex: 1;
        align-items: flex-start;
        margin-top: 20px;
        padding-top: 0px;
        
    }
   
  }
  @media only screen and (max-width: 456px) {
    .footerChildTwoContainer{
        flex-direction: column;
    }
    .footerTwoContainer{
       width: 100%;
    }

    .footerTwoStats > p {
        width: 100%;
        font-size: 16px;
    }
  }