.socialItem{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: whitesmoke !important;
    margin: 20px;
    margin-top: 250px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialItem__Logo{
    margin: 10px 0!important;
    width: 100% !important;
    height: 100px !important;
}
.socialItem__typo{
    text-align: center !important;
}
.mixedInsta{
    color: rgb(218, 59, 59);
}
.blueFacebook{
    color: #2D88FF;
}
.redInsta{
    color: #c00;
}
.black{
    color: black;
}
.twitterBlue{
    color: rgba(29,161,242,1.00);
}
.Soundcloud{
    color: #f50;
}

.desc{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.desc > ul > li {
    list-style-type: none;
    line-height:50px;
}
.desc > h6{
    margin: 15px 0;
}
.desc > li{
    list-style-type: none;
    text-align: left;
}
.card_btn > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.card_btn > a > button{
    padding: 10px 20px !important;
    color: white !important;
    width: 100%;
    height: 100%;
    outline: none !important;
}
.card_btn {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px !important;
}
.card1{
    background-color: rgb(218, 59, 59);
}

.card2{
    background-color: #2D88FF;
}
.card3{
    background-color: #c00;
}
.card4{
    background-color: black;
}
.card5{
    background-color: rgba(29,161,242,1.00);
}
.card6{
    background-color: #f50;
}

@media screen and (max-width: 820px){
    .socialItem{
        width: 60%;
        margin: 10px auto;
        
    }
}
@media screen and (max-width: 415px){
    .socialItem{
        width: 60%;
        margin: 10px auto;
        font-size: 11px;
        height: 750px;
    }
}